# Discord Bot Token
DISCORD_TOKEN=********************************************************************** # MyBotName#1234

# サーバーID
GUILD_ID=******************

# Database URL used by Prisma
DATABASE_URL=mysql://mysql_user:mysql_pass@localhost:3306/mysql_db

# Pterodactyl Configuration
PTERODACTYL_BASE_URL=https://panel.example.com
PTERODACTYL_API_KEY=************************************************
# Cloudflare Accessなどの追加ヘッダー (JSON形式)
PTERODACTYL_HEADERS= # { "CF-Access-Client-Id": "...", "CF-Access-Client-Secret": "..." }
